/*
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||-----------------STYLE PADRÃO------------------------||>
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/
.wrapper,.form-wrapper,.body{
    background: rgb(233, 233, 233);
}
.navbar{
    background-color:black;
    padding-right: 10px;
    padding: 25px;
}
.navbar-logar{
    padding: 25px;
    background-color: black;
}
.nav-inicial{
    background-color: black;
    padding: 9px;
    color: darkkhaki;
}
.nav-text{
    background-color: black;
    font-size: 25px;
    margin-left: 50px;
}
.voltar{
    margin-left: 850px;
}
.logo{
    background-color: rgb(236, 225, 161);
    padding: 15px;
}
.rodape{
    font-size: 10;
    padding-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(192, 184, 184);
    
}
/*
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||--------------------STYLE INDEX----------------------||>
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/
.carrossel-imagens{
    height:  882;
    width: 1280;
    display: block;
}
.carousel-caption{
    background-color: cyan;
}

.img-fluid{
    margin-left: 30px;
    width: 80%;
    height: 80%;
}
/*
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||--------------------STYLE TELA INICIAL---------------||>
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/
.row{
    width: 300px;
    margin: 20px;
    margin-left: 30px;
}

.conteiner{
    display: flex;
    flex-direction: row;
}
.conteiner2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    
}
.border{
    padding-top:  20px;
    background-image: linear-gradient(to right,#ecf0f1,#bdc3c7,#ecf0f1);
}
.row2{
    width: 500px;
    margin: 20px;
     
}
.imgindicadores,.imghistorico{
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;
    height: 300px;
}
@media (max-width: 600px) { 
    .conteiner,.conteiner2{
        display: block;
    }
 }
 @media (max-width: 800px) { 
    .conteiner,.conteiner2{
        display: block;
    }
 }

/*
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||-----------------style tela clientes-----------------||>
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/
.form-group{
    margin: 30px;
    color: black;
    display: flex;
    flex-direction: row;
}
.row-cliente{
   margin: 10px;
  
}
.form-control-sm{
    width: 300px;
}
.barra-situacao{
    display: flex;
    justify-content: center;
    background-color: rgb(22, 22, 22);
    padding: 15px;
    color: darkkhaki;
    margin: 0 15px;
}
.form-wrapper2,.inclusaoProdutos-wrapper{
    color: black;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}
.row-situacao{
    margin: 10px;
}
.comentarios{
    margin-left: 60px;
}
.txtcomentarios{
  width: 1000px;
  height: 100px;
}
.col-sm2{
    width: 200px;
}
.txtvalorprimcompra,.txtvalorultimacompra,.txtdtultimaconsulta,.txtsituacao,.txtdtultimacompra,.txtdtprimcompra{
    width: 150px;
}
.aprovar{
    background-color: red;
}
.botoessituacao{
    cursor: pointer;
    
}
.consultar, .aprovar, .alterar, .salvar,.inclusaoProduto{
    background-image: linear-gradient(to left,rgb(214, 214, 214),rgb(141, 141, 141),rgb(82, 82, 82));
}

/*
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||-----------------style tela CONSULTAS----------------||>
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/
.espaco{
    width: 180px;
}
.espaconome{
    width: 300px;
} 
.tabela-consulta{
    margin-left: 50px;
}
/*
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||-----------------style tela Produtos-----------------||>
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/
.espacoinfProduto1{
    width: 250px;
    justify-content: center;
}
.espacoinfProduto2{
    width: 150px;
    justify-content: center;
}
.imgproduto{
    width: 300px;
}
/*
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
||--------------style inclusão de Produtos-------------||>
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/
.inclusaoProdutos-wrapper,.wrapper2{
margin: 25px;
}
.row-produtos{
    margin-bottom: 10px;
    
}
.txtcodbarras,.txtnomeproduto,.txtfabrbicante{
    width: 600px;
}
.txtpreco,.txtquantidade{
    width: 60px;
}
.borderinc{
    padding: 15px;
    background:rgb(168, 168, 168);
}
.wrapper2{
    width: 800px;
}
.prod-group2{
    
    display: flex;
    flex-direction:row;
}
.salvar{
    width: 250px;
}



